/* body > #root {
  height: 100vh;
} */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: inherit;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.AppContainer {
  height: 100vh;
  width: 100%;
  background: #fff2d8;
}

.headerContainer {
  height: auto;
  background-color: #bca37f;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.split-container {
  position: relative;
  min-height: calc(100vh - 110px);
  display: flex;
  flex-direction: row;
}

.split-screen-left {
  width: 75%;
  background: #fff2d8;
  min-height: 100vh;
}

.split-screen-right {
  width: 25%;
  background: #ead7bb;
  min-height: 100vh;
}

.split-screen-left,
.split-screen-right {
  min-height: 100vh;
  padding: 20px;
  display: block;
}

.searchfield {
  min-width: 250px;
  width: 400px;
  height: 35px;
  border: none;
  border-radius: 5px;
}

/* .AppContainer{
  height: 100%;
} */

/* .App {
  height: 100%;
  width: 100%;
  background: #f8ede3;
  display: flex;
  flex-direction: row;
} */
/* 
.App > .AppLeft {
  display: block;
  width: 75%;
  height: 100%;
  display: flex;
  margin-top: -22px;
} */

.header {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
  font-size: 40px;
  font-family: Verdana;
  display: flex;
}

/* .App > .AppLeft > .ContainerUpper {
  width: 100%;
.App > .AppLeft > .ContainerLeft {
  height: 100%;
  position: relative;
}  */

.RecipeSelectionContainerLeft {
  padding: 10px;
  height: 60%;
}

.App > .AppRight {
  background: #ead7bb;
  width: 25%;
  min-height: 100vh;
}

h1 {
  font-family: Verdana;
  /* display: block; */
  /* height: 65px; */
  font-size: xx-large;
  text-align: center;
  /* flex-shrink: 0; */
}

h2 {
  color: #000;
  font-family: Verdana;
  font-size: x-large;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 45.714% */
  letter-spacing: 0.75px;
}

/* h3 {
  choose styling here for preference titles
} */

ul {
  padding: 0;
}

.IngredientElement {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#OwnedIngredientsList > div > ul > .IngredientElement {
  width: 30%;
}

#ExcludedIngredientsList > .ingredientsList > ul > .IngredientElement {
  width: 70%;
}

.RemoveIngredientImage {
  float: right;
}

input[type="text"],
input[type="password"] {
  color: rgba(0, 0, 0, 0.5);
  width: 30%;
  margin-right: 3%;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Verdana;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 129.412% */
  letter-spacing: -0.408px;
}

li {
  color: black;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Verdana;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.408px;
}

img {
  margin-bottom: -0.1em;
  height: 1em;
  cursor: pointer;
}

button {
  width: 145px;
  height: 40px;
  /* background-color: white; */
  background-color: #113946;
  color: white;
  border: 2px solid black;
  border-radius: 5px; /* rounded corners */
  border-color: #113946;
  /* color: #000; */
  cursor: pointer;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 550;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

button:hover {
  background: #e7e7e7;
}
/* 
.FormStyle{
  width: 100%;
} */

/* #IngredientsBody {
  margin-left: 2%;
  margin-top: 10%;
} */

.excludedIngredientListItems {
  width: 90%;
}

.ownedIngredientListItems {
  width: 40%;
}

/* #GenerateRecipeButton {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 3%;
  margin-right: 3%;
}  */

.RecipeView > #RecipeTitleDiv > h1 {
  text-align: left;
}

#SelectArrows {
  margin-left: 45%;
  outline: none;
}

#selectRecipeButton {
  float: right;
  align-items: right;
  right: 0;
  bottom: 0;
  margin-bottom: 3%;
  margin-right: 3%;
}

#SelectArrows > img {
  margin: 5%;
  transform: scale(2);
}

/* .ProfilePicture > img {
  vertical-align: middle;
  margin: 0 auto;
  transform: scale(2.5);
  margin-top: 10%;
  float: right;
  margin-right: 15%;
} */

.Profile {
  width: 40px;
  height: 40px;
  flex: 1;
  text-align: center;
}

.NumberOfPersonsFieldContainer {
  position: absolute;
  height: 35px;
  width: 30%;
}

.NumberOfPersonsField {
  transform: scale(1.5);
  display: flex;
  justify-content: center;
  margin-left: 22px;
  /* margin-top: 10%; */
}

#NumberOfPersonsFieldToast {
  transform: scale(0.7);
  text-align: center;
  justify-content: center;
}
#InputNumberOfPersonsField {
  width: 30px;
  height: auto;
  border: 1px solid black;
  display: inline-block;
  font-size: small;
  text-align: center;
  appearance: textfield;
  /*Hides arrows on input field number Firefox*/
  -moz-appearance: textfield;
}

#InputNumberOfPersonsField::-webkit-outer-spin-button,
#InputNumberOfPersonsField::-webkit-inner-spin-button {
  /*Hides arrows on input field number Chrome*/
  -webkit-appearance: none;
  margin: 0;
}

.ContainerRight
  > .ContainerRightTop
  > .ContainerRightColumn
  > .NumberOfPersonsField
  > .PlusMinusButton {
  text-align: center;
  width: 30px;
  height: auto;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  font-size: small;
}

.numberPersonsText {
  margin-top: 0%;
  padding: 0%;
  margin-left: 20%;
}

.ContainerRightColumn {
  float: left;
  /*width: 33.33%;*/
  justify-content: center;
  margin-top: 3%;
}

.ContainerRightTop:after {
  content: "";
  display: table;
  clear: both;
  justify-content: center;
}

#DietaryRestrictions {
  text-align: left;
  margin-left: 2.5%;
}

.ContainerRightMiddle > .DietaryRestrictions > #DietaryRestrictionsCheckbox {
  text-align: left;
  font-size: x-large;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  border: 1px solid grey;
  width: 150px;
  transform: translateY(-5px);
  transform: translateX(-105px);
  z-index: 1000;
}

.menu > li {
  margin: 0;
  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

#ExcludeList {
  text-align: center;
}

#InputFieldExclude {
  width: 60%;
  height: 100%;
  border: 1px solid black;
  font-size: medium;
  text-align: center;
  float: center;
  margin-left: 2.5%;

  height: 35px;
  border: none;
  border-radius: 5px;
}

.RemoveAllButton {
  margin-top: 5%;
  margin-left: 1%;
}

#ExcludeListText {
  text-align: left;
  margin-left: 2.5%;
  margin-top: 12%;
}

#ExcludedIngredientsList {
  text-align: left;
  margin-left: 8%;
}

.ForPersons > h4 {
  text-align: center;
  margin-top: -20px;
}


.App > .RecipeSelectionContainerLeft {
  flex: 1;
  position: relative;
}

.RecipeView {
  margin-left: 2%;
}

/* Login */
.LoginForm {
  background-color: white;
  height: 600px;
  width: 400px;
  margin: auto;
}

.LoginForm input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#loginCross {
  padding: 3%;
  transform: scale(1.2);
  float: right;
}

#alreadyHasUserText,
#noUserText {
  display: inline-block;
}

.LoginPage {
  display: flex;
  margin: auto;
}

.LoginForm button {
  width: 100%;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

img.avatar:hover {
  cursor: default;
}

.container {
  padding: 16px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#loginModal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* Apply style only when printing */
@media print {
  .no-print,
  .no-print * {
    display: none;
  }
  /* Styles applied to the printed page */
  @page {
    margin: 0;
  }
}

#BackButton {
  float: right;
  margin-top: 25px;
  margin-right: 25px;
}

#PrintButton {
  float: left;
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 1%;
}

.FullRecipeView {
  flex: 1;
  margin: 1cm;
}
.ingredientsList > ul {
  padding-left: 40px;
}

#BackToFrontPageButtonRecipeSelection {
  float: right;
  align-items: right;
  margin-right: 1%;
}

#BackToFrontPageButtonRecipeView {
  float: right;
  align-items: right;
  margin-top: 25px;
  margin-right: 1%;
}