*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: inherit;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  background: #fff2d8;
}

.AppContainer {
  height: 100vh;
  width: 100%;
  background: #fff2d8;
}

.headerContainer {
  height: auto;
  background-color: #bca37f;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.split-container {
  position: relative;
  min-height: calc(100vh - 110px);
  display: flex;
  flex-direction: row;
}

.split-screen-left {
  width: 75%;
  background: #fff2d8;
  min-height: 100vh;
}

.split-screen-right {
  width: 25%;
  background: #ead7bb;
  min-height: 100vh;
}

.split-screen-left,
.split-screen-right {
  min-height: 100vh;
  padding: 20px;
  display: block;
}

.searchfield {
  min-width: 250px;
  width: 400px;
  height: 35px;
  border: none;
  border-radius: 5px;
}

/* .AppContainer{
  height: 100%;
} */

/* .App {
  height: 100%;
  width: 100%;
  background: #f8ede3;
  display: flex;
  flex-direction: row;
} */
/* 
.App > .AppLeft {
  display: block;
  width: 75%;
  height: 100%;
  display: flex;
  margin-top: -22px;
} */

.header {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
  font-size: 40px;
  font-family: Verdana;
  display: flex;
  cursor: pointer;
}
.titleLogo {
  height: 1.3em;
}
.titleLogo:hover {
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.RecipeSelectionContainerLeft {
  padding: 10px;
  height: 60%;
}

.App > .AppRight {
  background: #ead7bb;
  width: 25%;
  min-height: 100vh;
}

h1 {
  font-family: Verdana;
  /* display: block; */
  /* height: 65px; */
  font-size: xx-large;
  text-align: center;
  /* flex-shrink: 0; */
}

h2 {
  color: #000;
  font-family: Verdana;
  font-size: x-large;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 45.714% */
  letter-spacing: 0.75px;
}

/* h3 {
  choose styling here for preference titles
} */

ul {
  padding: 0;
}

/*modal*/
.ReactModal__Content {
  width: 40%;
}

body.Modal__Content {
  overflow-y: hidden;
}

.IngredientElement {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#OwnedIngredientsList > div > ul > .IngredientElement {
  width: 30%;
}
#OwnedIngredientsList {
  margin-right: 10%;
}

#ExcludedIngredientsList > .ingredientsList > ul > .IngredientElement {
  width: 70%;
}

.RemoveIngredientCross {
  float: right;
}

input[type="text"],
input[type="password"] {
  color: rgba(0, 0, 0, 0.5);
  width: 30%;
  margin-right: 3%;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Verdana;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 129.412% */
  letter-spacing: -0.408px;
}

li {
  color: black;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Verdana;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.408px;
}

img {
  margin-bottom: -0.1em;
  height: 1em;
  cursor: pointer;
}

button {
  width: 145px;
  height: 40px;
  /* background-color: white; */
  background-color: #113946;
  color: white;
  border: 2px solid black;
  border-radius: 5px; /* rounded corners */
  border-color: #113946;
  /* color: #000; */
  cursor: pointer;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 550;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

button:hover {
  background: #979191;
  transition: all 0.1s;
}
button:active {
  transform: scale(0.95);
}
/* 
.FormStyle{
  width: 100%;
} */

/* #IngredientsBody {
  margin-left: 2%;
  margin-top: 10%;
} */

.excludedIngredientListItems {
  width: 90%;
}

.ownedIngredientListItems {
  width: 40%;
}

.RecipeView > #RecipeTitleDiv > h1 {
  text-align: left;
}

#SelectArrows {
  margin-left: 45%;
  outline: none;
}

#GenerateRecipesButton {
  margin-top: 5%;
  float: right;
}

#selectRecipeButton {
  float: right;
  align-items: right;
  right: 0;
  bottom: 0;
  margin-bottom: 3%;
  margin-right: 3%;
}

#SelectArrows > img {
  margin: 5%;
  transform: scale(2);
}

.IngredientCheckboxesLabel {
  cursor: pointer;
}

#acceptAdditionalIngredientsButton {
  margin-top: 2%;
}

#IngredientsContainer {
  height: 90%;
  position: relative;
}

.Profile {
  width: 40px;
  height: 40px;
  flex: 1;
  text-align: center;
}

.NumberOfPersonsField {
  transform: scale(1.5);
  display: flex;
  justify-content: center;
  margin-left: 22px;
}

#NumberOfPersonsFieldToast {
  transform: scale(0.7);
  text-align: center;
  justify-content: center;
}
#InputNumberOfPersonsField {
  width: 30px;
  height: auto;
  border: 1px solid black;
  display: inline-block;
  font-size: small;
  text-align: center;
  appearance: textfield;
  /*Hides arrows on input field number Firefox*/
  -moz-appearance: textfield;
}

#InputNumberOfPersonsField::-webkit-outer-spin-button,
#InputNumberOfPersonsField::-webkit-inner-spin-button {
  /*Hides arrows on input field number Chrome*/
  -webkit-appearance: none;
  margin: 0;
}

.FrontPageContainerRight
  > .ContainerRightTop
  > .ContainerRightColumn
  > .NumberOfPersonsField
  > .PlusMinusButton {
  text-align: center;
  width: 30px;
  height: auto;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  font-size: small;
}

.numberPersonsText {
  margin-top: 0%;
  padding: 0%;
  margin-left: 20%;
}

.ContainerRightColumn {
  float: left;
  justify-content: center;
  margin-top: 3%;
}

.ContainerRightTop:after {
  content: "";
  display: table;
  clear: both;
  justify-content: center;
}

#DietaryRestrictions {
  text-align: left;
  margin-left: 2.5%;
}

.ContainerRightMiddle > .DietaryRestrictions > #DietaryRestrictionsCheckbox {
  text-align: left;
  font-size: x-large;
}

.dropdown {
  position: relative;
  margin: 5px 0;
  padding: 0;
  z-index: 1000;
}

.dropdown-content {
  list-style: none;
  position: absolute;
  top: -1em;
  right: 7.5em;
  width: 100%;
}

.dropdown-content li {
  position: relative;
  transform: translateX(
    150%
  ); /* Initially move the dropdown content off-screen */
  width: 155px;
  border-radius: 0em;
  animation: slideInFromRight 0.5s forwards;
}
.dropdown-buttons {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 0px;
}

.dropdown-content li.open {
  animation: slideInFromRight 0.5s forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.dropdown-content li:nth-child(2) {
  animation: slideInFromRight 0.5s 0.2s forwards;
}

.dropdown-content li:nth-child(3) {
  animation: slideInFromRight 0.5s 0.4s forwards;
}

.dropdown-content li:nth-child(4) {
  animation: slideInFromRight 0.5s 0.6s forwards;
}

#FavoritesButton {
  border-radius: 0px;
}
#SettingsButton {
  border-radius: 0px;
}
#LogoutButton {
  border-radius: 0px;
}

.menuItemButton {
  border-radius: 0px;
}

#InputFieldExclude {
  width: 60%;
  height: 100%;
  border: 1px solid black;
  font-size: medium;
  text-align: center;
  float: center;
  margin-left: 2.5%;

  height: 35px;
  border: none;
  border-radius: 5px;
}

.RemoveAllButton {
  margin-top: 5%;
  margin-left: 1%;
}

#ExcludeListText {
  text-align: left;
  margin-left: 2.5%;
  margin-top: 12%;
}

#ExcludedIngredientsList {
  text-align: left;
  margin-left: 8%;
}

.ForPersons > h4 {
  text-align: center;
  margin-top: -20px;
}

.App > .RecipeSelectionContainerLeft {
  flex: 1;
  position: relative;
}

.RecipeView {
  margin-left: 2%;
}

/* Login */
.LoginModal {
  background-color: white;
  height: 600px;
  width: 400px;
  margin: auto;
}

.SettingModal input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.SettingModal h3 {
  text-align: center;
  margin: 24px 0 12px 0;
}

.LoginModal input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.LoginModal select {
  width: 100%;
}

.LoginModal option {
  font-size: 18px;
  font-family: Verdana;
}

#loginCross {
  padding: 3%;
  transform: scale(1.2);
  float: right;
}

.LoginPage {
  display: flex;
  margin: auto;
}

.LoginForm button {
  width: 96%;
}

.ModalHeaderContainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.scrollableModalContainer,
#AdditionalOwnedIngredientsModalContainer {
  overflow: auto;
  display: block;
  padding: 16px;
  max-height: 75%;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#loginModal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

input[type="range"] {
  width: 100%;
}

/* Apply style only when printing */
@media print {
  .no-print,
  .no-print * {
    display: none;
  }
  /* Styles applied to the printed page */
  @page {
    margin: 0;
  }
}

#BackButton {
  float: right;
  margin-top: 25px;
  margin-right: 25px;
}

#PrintButton {
  float: left;
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 1%;
}

.FullRecipeView {
  flex: 1;
  margin: 1cm;
}

.BottomButtonsSpacer {
  padding-bottom: 10%;
}

.ingredientsList > ul {
  padding-left: 40px;
}

.toggleButtonLeft {
  border-radius: "5px 0px 0px 5px";
}

.toggleButtonRight {
  border-radius: "0px 5px 5px 0px";
}

.toggleButton {
  width: 100%;
  background-color: #113946;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px; /* rounded corners */
  border-color: #113946;
}

.toggleButton button {
  background-color: white;
  color: black;
  border: 0;
  text-transform: none;
  width: 40%;
  margin: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 550;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.SliderContainer h3,
p {
  display: inline;
}

.options {
  background: white;
  border: 1px solid #ccc;
  top: -1px;
  left: -1px;
  width: 100%;
  min-height: 30vh;
  cursor: pointer;
  overflow-y: scroll;
}

.FavoriteRecipeElement,
.HistoryRecipeElement {
  width: 100%;
}

.FavoriteRecipeButton,
.HistoryRecipeButton {
  width: 90%;
  height: 5%;
  float: left;
  padding: 5px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.RemoveFavoritedElement {
  display: inline-block;
  float: right;
  margin-right: 2%;
  margin-top: 3%;
}

#BackToFrontPageButtonRecipeSelection {
  float: right;
  align-items: right;
  margin-right: 1%;
}

#BackToFrontPageButtonRecipeView {
  float: right;
  align-items: right;
  margin-top: 25px;
  margin-right: 1%;
}
